# 30911_양민석_0430_4

In [4]:
date = '2024-04-30'

print('연도 :',date[:4])
print('월 :',date[5:7])
print('일 :',date[-2:])

연도 : 2024
월 : 04
일 : 30

# 공백으로 문장을 나누는 명령어 split

In [15]:
a = '준원이 바보 바보'
print(a.split()) # list
print(a.split()[0])
print(a.split()[1])
print(a.split()[2])

['준원이', '바보', '바보']
준원이
바보
바보

# -(하이폰)을 기준으로 split

In [28]:
date = '2024-04-30'

print(date.split('-'))
print('연도 :', date.split('-')[0])
print('월 :',date.split('-')[1])
print('일 :',date.split('-')[2])

['2024', '04', '30']
연도 : 2024
월 : 04
일 : 30

# 리스트 순서대로 정렬하기
- # 오름차순 .sort()
- # 내림차순 .sort(reverse=True)

In [31]:
# 리스트 원소 정렬하기
food = ['피자','치킨','스테이크','짬뽕','바나나','오므라이스','우동']

food.sort()
print('정렬 후 :',food)

정렬 후 : ['바나나', '스테이크', '오므라이스', '우동', '짬뽕', '치킨', '피자']

In [32]:
# 리스트 원소 내림차순(역순)으로 정렬하기
food = ['피자','치킨','스테이크','짬뽕','바나나','오므라이스','우동']

food.sort(reverse=True)
print('정렬 후 :',food)

정렬 후 : ['피자', '치킨', '짬뽕', '우동', '오므라이스', '스테이크', '바나나']

In [40]:
# 문제 역순으로 정렬하고 첫번째 두번째를 추력해 보기
spending_6mon = [25, 36, 8, 53, 24, 56]

spending_6mon.sort(reverse=True)
spending_6mon[0:2]

[56, 53]

- # 최댓값 max
- # 최소값 min
- # 전체합 sum
- # 원소 위치 index

In [57]:
# 리스트 원소 중 최댓값, 최소값 찾기
spending_6mon = [25, 36, 8, 53, 24, 56]
print('최댓값 :',max(spending_6mon))
print('최소값 :',min(spending_6mon))

# 리스트 원소 전체의 합 : sum
print('전체합 :',sum(spending_6mon))

# 리스트안의 원소의 위치를 찾기 index
print('24의 위치는 :',spending_6mon.index(24)+1)

최댓값 : 56
최소값 : 8
전체합 : 202
24의 위치는 : 5