# 30911_양민석_0820_3

In [18]:
import pandas as pd

df = pd.DataFrame({'name':['김지훈','이유진','박동현','김민지'],
                   'english':[90,80,60,70],
                   'math':[50,60,100,20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

## 과목별 평균

In [19]:
print('영어 평균 :',sum(df['english'])/len(df['english']))
print('수학 평균 :',sum(df['math'])/len(df['math']))

영어 평균 : 75.0
수학 평균 : 57.5

In [20]:
df[['english','math']].mean()

english    75.0
math       57.5
dtype: float64

## 데이터 타입 확인

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   english  4 non-null      int64
 2   math     4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [22]:
import pandas as pd

df_csv_exam = pd.read_csv('exam.csv')
df_csv_exam.head() # 상위 5개만 추출

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

### 데이터 프레임을  CSV 파일로 저장하기
### 1. 데이터 프레임 만들기

In [25]:
df_midterm = pd.DataFrame({'english':[90,80,60,70],
                          'math':[50,60,100,20],
                          'nclass':[1,1,2,2]})
df_midterm

   english  math  nclass
0       90    50       1
1       80    60       1
2       60   100       2
3       70    20       2

## 데이터를 불러오는 것은 read 저장하는 것은 to

In [27]:
df_midterm.to_csv('output_newdata.csv')

In [28]:
df_midterm.to_csv('output_newdata.csv', index = False) # 앞에 숫자 없애기

```
# 1. 데이터 프레임 만들기
df = pd.DataFrame({'name':['김지훈','이유진','박동현','김민지'],
                   'english':[90,80,60,70],
                   'math':[50,60,100,20]})
                   
# 2. 외부 데이터 이용하기

# 엑셀 파일 불러오기
df_exam = pd.read_excel('excel_exam.xlsx')

# csv 파일 불러오기
df_csv_exam = pd.read_csv('exam.csv')

# csv 파일 저장하기
df_midterm.to_csv('output_newdata.csv')
```