In [7]:
print('학생 그룹 점수의 합계와 평균을 구합니다.')
a = int(input('1번 학생의 점수를 입력하세요.: '))
b = int(input('2번 학생의 점수를 입력하세요.: '))
c = int(input('3번 학생의 점수를 입력하세요.: '))
d = int(input('4번 학생의 점수를 입력하세요.: '))
e = int(input('5번 학생의 점수를 입력하세요.: '))
f = a+b+c+d+e
print(f'합계는 {f}점입니다.')
print(f'평균은 {f/5}점입니다')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 100
2번 학생의 점수를 입력하세요.: 95
3번 학생의 점수를 입력하세요.: 80
4번 학생의 점수를 입력하세요.: 85
5번 학생의 점수를 입력하세요.: 90
합계는 450점입니다.
평균은 90.0점입니다

- 배열 : 묶음 단위로 값을 지정하는 자료구조
  - 원소 : 배열에 저장된 각 객체
  - 각 원소는 0,1,2 순서대로 인덱스(주소)를 부여받음
  - 원소의 자료명은 int형 float의 어떤것도 상관없음
  - 서로 다른 자료형을 같이 저장할 수 있음
  - 배열 원소 자체를 배열에 저장할 수 있음

In [9]:
# list 선언
list01 = [] # 빈리스트
a = [1,2,3,4,5]
b = ['A','B','C']
print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'B', 'C']

- 튜플
    - 원소에 순서를 매겨 결합한 것으로 원소를 변경할 수 없는 자료형
    - ()만 사용하면 빈 튜플 생성

In [12]:
tuple01 = ()
tuple02 = 1,2,3
tuple03 = 'A','B','C'

print(tuple01)
print(tuple02)
print(tuple03)

()
(1, 2, 3)
('A', 'B', 'C')

In [18]:
a = tuple(range(7))
print(a)

(0, 1, 2, 3, 4, 5, 6)