# 30911_양민석_0521_4

## 딕셔너리 : 사전
- 키와 값으로 구성됩니다.
- {}를 이용한다.

In [3]:
eng = {'break':'깨어지다','bring':'가져오다','brush':'붓','brave':'용감한'}
print(eng)

{'break': '깨어지다', 'bring': '가져오다', 'brush': '붓', 'brave': '용감한'}

In [7]:
print(eng['break'])

깨어지다

In [8]:
print(eng['brush'])
print(eng['brave'])

붓
용감한

In [43]:
menu = {'김밥':2500,'참치김밥':3500,'라면':3000,'치즈라면':4000}
eat = input('어떤 메뉴를 드시겠습니까? ')
print(menu[eat],'원 입니다.')

어떤 메뉴를 드시겠습니까? 참치김밥
3500 원 입니다.

## 값 수정
- 라면 가격 인상

In [47]:
menu['라면'] = 3500
menu['치즈라면'] = 4500

In [48]:
print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500}

## 돈가스 6000원 메뉴 추가

In [49]:
menu['돈가스'] = 6000
print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500, '돈가스': 6000}

## 메뉴 및 가격을 입력 받아 넣기

In [54]:
menuplus = input('추가 할 메뉴를 입력해주세요: ')
menuprice = input('판매 할 가격을 정해주세요: ')
menu[menuplus] = menuprice

추가 할 메뉴를 입력해주세요: 치즈돈가스
판매 할 가격을 정해주세요: 7000

In [55]:
menu

{'김밥': 2500,
 '참치김밥': 3500,
 '라면': 3500,
 '치즈라면': 4500,
 '돈가스': 6000,
 '치즈돈가스': '7000'}

## 키-값을 삭제하기 del
- ## 돈가스 삭제

In [57]:
print(menu)
menudel = input('삭제할 메뉴는?')
del menu[menudel]
print(menu)

{'김밥': 2500, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500, '돈가스': 6000, '치즈돈가스': '7000'}
삭제할 메뉴는?돈가스
{'김밥': 2500, '참치김밥': 3500, '라면': 3500, '치즈라면': 4500, '치즈돈가스': '7000'}

## 딕셔너리의 키만 꺼내기 : keys()
## 딕셔너리의 값만 꺼내기 : values()

In [58]:
print(menu.keys())

dict_keys(['김밥', '참치김밥', '라면', '치즈라면', '치즈돈가스'])

In [62]:
print(menu.values())

dict_values([2500, 3500, 3500, 4500, '7000'])

# 추출한 키값의 결과값을 리스트로 바꾸기
- ## print(list(menu.keys()))

In [63]:
print(list(menu.keys()))

['김밥', '참치김밥', '라면', '치즈라면', '치즈돈가스']

## key+value = items

In [64]:
print(menu.items())

dict_items([('김밥', 2500), ('참치김밥', 3500), ('라면', 3500), ('치즈라면', 4500), ('치즈돈가스', '7000')])

## 키를 기준으로 딕셔너리 정렬하기 : sorted()
## 키를 기준으로 딕셔너리 역순 정렬하기 : reverse = True
## 키-값 쌍을 묶어서 딕셔너리 정렬하기 : sorted() items

In [98]:
print(sorted(menu.keys()))
print(sorted(menu.keys(), reverse = True))
print(sorted(menu.items()))

['김밥', '돈가스', '라면', '참치김밥', '치즈라면']
['치즈라면', '참치김밥', '라면', '돈가스', '김밥']
[('김밥', 2500), ('돈가스', 6000), ('라면', 3500), ('참치김밥', 3500), ('치즈라면', 4500)]

In [100]:
# 값을 기준으로 키-값 쌍 정렬하기 : sorted()
import operator

print(sorted(menu.items(), key=operator.itemgetter(1), reverse=True))
print(sorted(menu.items(), key=operator.itemgetter(1), reverse=True)[:2])

[('돈가스', 6000), ('치즈라면', 4500), ('참치김밥', 3500), ('라면', 3500), ('김밥', 2500)]
[('돈가스', 6000), ('치즈라면', 4500)]

In [75]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
print(midterm)
student = input('어떤 학생의 점수가 궁금하신가요?')

# if 어떤학생인지 찾기
if student in midterm.keys():
    print(midterm[student],'입니다')
else:
    print('해당 학생은 없습니다.')

{'도윤': 43, '하윤': 82, '시우': 76, '지유': 61, '주원': 94}
어떤 학생의 점수가 궁금하신가요?주원
94 입니다

In [80]:
# 중간고사 점수가 70점 이상인 학생은 누구?
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}

for k,v in midterm.items():
    if v >= 70:
        print(k,v)

하윤 82
시우 76
주원 94